@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root {
  --wblue: #ebf0f5;
  --blue2: #7da2c3;
  --blue: #4f8cb6;
  --light: #ddd;
  --mid: #888;
  --dark: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: var(--dark);
}

/* General */

h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

h3 {
  color: var(--white);
  font-size: 1.2rem;
}

/* Section styling */

.head {
  padding: 3rem 0 1rem;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
}

hr {
  border-top: .2rem solid var(--blue);
  width: 4rem;
}

.hr-white {
  border-top: .2rem solid var(--white);
}

.hr-light {
  border-top: .2rem solid var(--light);
}

.hr-dark {
  border-top: .2rem solid var(--dark);
}


.body {
  padding-bottom: 3rem;
}

h4 {
  font-weight: 600;
}

/* Alt section styling */

.alt {
  background-color: var(--wblue);
}

/* Dark section styling */

.dark {
  background-color: var(--blue);
  color: white;
}

.dark h2, .dark h2 span {
  color: var(--white);
}

.dark .btn-light, .dark .btn-light:hover {
  color: var(--blue);
}

/* Buttons */

.btn {
  padding: 1rem 1.5rem;
  /* border-radius: 0; */
  min-width: 5rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: opacity .3s ease-in-out;
  border: 0 none;
  background-color: var(--blue);
  color: white;
}

.btn:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: var(--blue);
  color: white;
}

.btn-light {
  padding: 1rem 1.5rem;
  /* border-radius: 0; */
  min-width: 5rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: opacity .3s ease-in-out;
  border: 0 none;
  background-color: white;
  color: var(--dark);
}

.btn-light:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: white;
  color: var(--dark);
}

.btn-outline {
  padding: 1rem 1.5rem;
  border-radius: 0;
  min-width: 5rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: .3s ease-in-out;
  border: 1px solid var(--dark);
  color: var(--dark);
}

.btn-outline:hover {
  text-decoration: none;
  color: white;
  border: 1px solid var(--dark);
  background-color: var(--dark);
}

.btn-outline-light {
  padding: 1rem 1.5rem;
  border-radius: 0;
  min-width: 5rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: .3s ease-in-out;
  border: 2px solid white;
}

.btn-outline-light:hover {
  text-decoration: none;
  color: var(--dark);
}

.btn-sm {
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: normal;
}

.btn-lg {
  padding: 1.3rem 2.5rem;
  font-size: 1.1rem;
}

/* Navbar */

.navbar {
  background-color: white;
  box-shadow: 0 0 .2rem var(--light);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: .2rem 0;
}

.navbar a {
  padding: .8rem 1.5rem;
}

.navbar img {
  height: 2.5rem;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: var(--dark);
}

.navbar-light .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  height: 1px;
  bottom: .2rem;
  background-color: var(--blue);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link:hover:before, .navbar-light .navbar-nav .nav-link.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu .nav-link.active {
  background-color: white;
}

.dropdown-menu .nav-link:hover:before {
  width: 20%;
  left: 40%;
  transition: all 0.5s ease-in-out 0s;
}

.dropdown-toggle::after {
  display: none;
}

/* Landing */

.home {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-image: url(../img/coffee.jpg);
}

.home:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75vh;
  background-color: black;
  opacity: 0.5;
}

.webdesignhome {
  background-image: url(../img/coffee.jpg);
}

.caption {
  width: 30%;
  position: absolute;
  top: 25%;
  z-index: 1;
}

.caption h3 {
  margin: 2rem 0 3rem;
}

/* Services */

.services h4, .services p, .services a {
  transition: .2s ease-in-out;
  color: var(--dark);
  text-decoration: none;
}

.services .btn {
  color: white;
}

.services .card {
  border: 1px solid white;
  padding: 1.5rem;
  transition: .3s ease-in-out;
}

.services .card img {
  height: 10rem;
  padding: 1.5rem;
}

.services .card .link {
  padding: 1.1rem 2rem 1.5rem;
}

.services .card .link:before {
  content: "";
  position: absolute;
  width: 30%;
  left: 35%;
  height: 1px;
  bottom: 5%;
  background-color: var(--mid);
}

.services .card .link:hover:before {
  content: "";
  height: 0;
}

.services .card:hover {
  transform: translateY(-1rem);
}

.services .card:hover h4 {
  color: var(--blue);
}


/* Pricing */

.pricing a {
  text-decoration: none;
  color: var(--dgrey);
}

.pricing .plan {
  text-align: center;
  border: 1px solid var(--light);
  border-radius: .5rem;
  overflow: hidden;
  background: white;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.pricing .plan .featured {
  transform: rotate(5deg);
}

.pricing .plan:hover {
  transform: scale(1.05);
}

.pricing .plan:hover .plan-header {
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.pricing .bronze .plan-header {
  background: #b8860b;
}

.pricing .silver .plan-header {
  background: #aaaaaa;
}

.pricing .gold .plan-header {
  background: #d5b149;
}

.pricing .bronze .plan-header, .pricing .silver .plan-header, .pricing .gold .plan-header {
  /* background: #d6d6d6; */
  padding: 1.2rem;
  color: var(--white);
  font-weight: 600;
  overflow: hidden;
  position: relative;

  background-repeat: no-repeat;
  background-position: -450px -110px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 300% 300%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.pricing .plan-header:after {
  animation: shine 2s infinite linear alternate;
  content: "";
  position: absolute;
  top: -215%;
  left: -200%;
  width: 220%;
  height: 240%;
  opacity: 0;
  transform: rotate(15deg);

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

@keyframes shine{
  to {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
}

.pricing .plan-price {
  font-size: 2.5rem;
  padding: 1rem 0 0 0;
}

.pricing .plan-price .price-type {
  font-size: 1.2rem;
  position: absolute;
  transform: translateY(1.2rem);
}

.pricing .plan-list {
  padding: 1rem;
  list-style: none;
}

.pricing .plan-list li {
  padding: 1rem;
  border-bottom: 1px solid var(--light);
}

.pricing .plan-list li:last-child {
  border: none;
}

/* Contact */

.contact form input, .contact form textarea {
  border-radius: 0;
  border: 1px solid var(--dark);
}

.contact form input:focus, .contact form textarea:focus {
  box-shadow: 0 0 0 white;
  border: 1px solid var(--blue);
}

.contact form .btn {
  margin-top: 2rem;
  width: 12rem;
}

/* footer */

footer {
  padding-top: 3rem;
  font-size: .9rem;
  color: var(--blue2);
}

footer h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blue);
}

footer hr {
  border-top: .1rem solid var(--light);
  display: inline-block;
  width: 80%;
  margin: 0 0 1rem;
}

footer .footer-description {
  width: 75%;
}

footer a {
  color: var(--blue2);
}

footer a:hover {
  color: var(--blue);
  text-decoration: none;
}

footer .socket {
  width: 100%;
  margin: 1.5rem 0 .5rem;
}

footer img {
  height: 3rem;
  margin: 0 auto;
}

/* Back to top button */

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(130, 130, 130, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #787878;
  background: rgba(130, 130, 130, 0.75);
}

.scroll-to-top i {
  font-weight: 800;
}

/* Lg screen */

@media (max-width: 991px) {

  .card-columns {
    column-count: 2;
  }

  .navbar-light .navbar-nav .nav-link:hover:before, .navbar-light .navbar-nav .nav-link.active:before {
    visibility: hidden;
  }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    color: var(--blue);
  }

  .navbar-collapse {
    margin-bottom: 1rem;
  }

  .navbar-brand img {
    height: 2rem;
  }

}

/* Md screen */

@media (max-width: 767px) {

  .services .card .link:before {
    width: 44%;
    left: 28%;
    bottom: 4.5%;
  }

  footer h6 {
    margin-top: 3rem;
  }

  footer .footer-description {
    margin: 0 auto;
  }

  footer hr {
    border-top: .2rem solid var(--light);
    display: inline-block;
    width: 10%;
    margin-top: 0;
  }

}

@media (max-width: 575px) {

  .card-columns {
    column-count: 1;
  }

  .services .card .link:before {
    width: 24%;
    left: 38%;
    bottom: 10%;
  }

}
